.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page h1 {
  text-align: center;
  width: 100%;
}

.header {
  width: 100%;
  max-width: 1600px;
  margin-bottom: 0px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: 1600px;
  margin: 0 auto;
  overflow: hidden;
}

.heroText {
  span {
    font-size: 3.5rem;
  }
  margin-bottom: 30px;
  overflow: hidden;
}

.animatedWords {
  animation: flicker-glitch 0.8s alternate;
}

@keyframes flicker-glitch {
  0% {
    color: black;
  }
  10% {
    color: lime;
  }
  15% {
    color: black;
  }
  22% {
    color: lime;
  }
  28% {
    color: black;
  }
  35% {
    color: lime;
  }
  40% {
    color: black;
  }
  55% {
    color: lime;
  }
  60% {
    color: black;
  }
  80% {
    color: lime;
  }
  100% {
    color: lime;
  }
}

.inputBar {
  background-color: #7513e3;
  border-radius: 8px;
  height: 1px;
  margin-bottom: 30px;
  /* padding: 10px; */
}

.incomeInput {
  width: 250px;
  height: 30px;
  background-color: white;
  border: none;
  padding: 10px;
  background-color: black;
  font-size: 16px;
}

.leftLabel {
  padding: 10px 20px 20px 20px;
  border: 3px solid lime;
  border-bottom: none;
  border-start-start-radius: 5px;
  border-start-end-radius: 5px;
  width: 160px;
  height: 80px;
  background-color: black;

  @media (max-width: 700px) {
    display: none;
  }
}

.leftLabel p {
  font-size: 20px;
}

.inputLabels {
  position: relative;
  border: 1px solid lime;
  padding: 20px 20px 20px 20px;
  border-radius: 5px;
  // border-top: none;
  // border-end-start-radius: 5px;
  width: 400px;
  // border-end-end-radius: 5px;
  height: 100%;
  background-color: black;

  overflow: hidden;

  @media (max-width: 700px) {
    border: 3px solid lime;
    border-radius: 5px;
    width: 100%;
  }
}

.inputLabels input,
.rightLabel select {
  background-color: black;
  border: 1px solid #cccccc;
  color: white !important;
  border-radius: 8px;
  padding: 10px;
  height: 40px;
  color: white !important;
}

.label {
  position: absolute;
  left: 35px;
  transform: translateY(0.7rem);
  font-size: 1.2rem;
  background-color: black;
  padding: 0px 5px;
}

.main {
  width: 100%;
}

.budgetBarContainer {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.budgetBar {
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 1;
  padding-bottom: 20px;
  border-radius: 5px;
  height: 80px;
  overflow-x: auto;
  overflow-y: hidden;
  align-items: center;
  scrollbar-width: thin;

  button {
    min-width: 200px;
    height: 50px;
    flex-shrink: 0;
    border: none;
    background-color: #7513e3;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.15s ease;

    &:hover {
      transform: scale(1.02);
      transition: all 0.1s;
    }

    &.selectedButton {
      /* now has higher specificity */
      background-color: #8582d1;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.12);
      transform: translateY(-1px);
    }
  }
}

.budgetBar p {
  font-size: 16px;
  margin-right: 10px;
  font-weight: 800;
  white-space: nowrap;
  padding: 15px;
}

.heroContainers {
  display: flex;
  margin-bottom: 60px;
  gap: 40px;
  align-items: flex-start;

  @media (max-width: 700px) {
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 0px;
  }
}

.inputContainer {
  width: 400px;

  @media (max-width: 700px) {
    width: 100%;
  }
}

.resultContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 20px;

  h1 {
    margin-bottom: 10px;
    text-align: left;
  }

  h3 {
    font-weight: 400;
    font-size: 16px;
    text-align: left;
  }

  @media (max-width: 700px) {
    padding: 0;
    justify-content: flex-start;
  }
}

.contributionContainer {
  display: flex;
  align-items: center;
  width: 100%;
  // height: 200px;
  font-size: clamp(5rem, 10vw, 11rem);
  max-width: 100%;
  color: #ff0341;
  font-variant-numeric: tabular-nums;

  @media (max-width: 700px) {
    align-items: baseline;
    margin-bottom: 40px;
  }
}
